.app_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    height: 100vh;
}

.app_wrap .app_item {
    flex-basis: 20%;
    padding: 20px;
}

/* 전역 선택자 */
:global .input_control {
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: red;
}